/* Tailwind Integration */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */

:root {
  --blue: 36 175 233;
  --lightBlue: 193 251 255;
  --red: 255 0 0;
  --gray: 209 209 209;
  
}

/* Defaults */

body, #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
}

* {
  /* color: black; */
  font-family: sans-serif;
  font-weight: 600;
}

button {
  background: rgb(36, 175, 233);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 1px;
  padding: 0.2rem 1rem;
}

/* input[type='email'], input[type='password'], input[type='text'] {
  -webkit-appearance: none;
  background-color: rgb(193, 251, 255);
} */

input[type="time"]::-webkit-calendar-picker-indicator {
  /* background: none; */
  filter: invert(100%);
  /* color: white; */
}

input[type="time"]::-webkit-calendar-picker {
  margin-left: 100px;
}

input {
  text-align: center;
  color: white;
}