/* Tailwind Integration */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Defaults */

body, #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
}

* {
  color: black;
  font-family: sans-serif;
}

button {
  background: rgb(36, 128, 233);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.2rem 1rem;
}
